{require_otp_vsn, "R15|R16|17\.*"}.
{erl_opts, [debug_info,
            {parse_transform, lager_transform}]}.

{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "2.1.0"}}},

        {epgsql, ".*", {git, "git://github.com/epgsql/epgsql.git", {tag, "2.0.0"}}},
        {glicko2, ".*", {git, "git://github.com/jlouis/erl-glicko2.git", {tag, "master"}}},
        {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", {tag, "0.3.1"}}},
        {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {tag, "1.0.5"}}},
        {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.4.0"}}},
        {poolboy, ".*", {git, "git://github.com/devinus/poolboy.git", {tag, "1.4.2"}}},
        {safetyvalve, ".*", {git, "git://github.com/jlouis/safetyvalve.git", {tag, "v2.3.1"}}},
        {sfmt, ".*", {git, "git://github.com/jj1bdx/sfmt-erlang.git", {tag, "master"}}},
        {uuid, ".*", {git, "git://github.com/jlouis/uuid", {tag, "master"}}}
        ]}.

