{require_otp_vsn, "R15|R16|17\.*"}.
{erl_opts, [debug_info,
            {parse_transform, lager_transform}]}.

{deps, [
        {lager, {git, "https://github.com/basho/lager.git", {tag, "3.0.1"}}},

        {epgsql, {git, "https://github.com/epgsql/epgsql.git", {tag, "3.1.0"}}},
        {glicko2, {git, "https://github.com/jlouis/erl-glicko2.git", {tag, "master"}}},
        {gproc, {git, "https://github.com/uwiger/gproc.git", {tag, "0.5"}}},
        {hackney, {git, "https://github.com/benoitc/hackney.git", {tag, "1.3.2"}}},
        {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.7.1"}}},
        {poolboy, {git, "https://github.com/devinus/poolboy.git", {tag, "1.5.1"}}},
        {safetyvalve, {git, "https://github.com/jlouis/safetyvalve.git", {tag, "v2.5.0"}}},
        {uuid, {git, "https://github.com/okeuday/uuid", {tag, "v1.5.0"}}}
        ]}.

